<?xml version="1.0" encoding="utf-8"?>
<manifest package="pixento.nl.broadcasttomqtt"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".EditBroadcastActivity"
            android:label="@string/title_activity_edit_broadcast"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService"/>

        <receiver
            android:name=".SubBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <service
            android:name=".MqttBroadcastService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:name=".RetryBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="pixento.nl.broadcasttomqtt.RETRY_MQTT_MESSAGES"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>